@use "../abstracts/variables" as v;
@use "../abstracts/functions" as fn;
@use "../abstracts/mixins" as m;

.navigation-item {
  @include m.flex(row, center, flex-start, fn.spacing(md));

  width: 100%;
  min-height: 40px;
  padding: 0 fn.spacing(sm);
  border-radius: fn.radius(md);
  color: v.$color-text-secondary;
  text-align: left;
  font-size: fn.font-size(md);

  &:hover,
  &--active {
    background: v.$color-surface;
    color: v.$color-text;
  }

  &__icon {
    width: 20px;
    height: 20px;
  }

  &__text {
    white-space: nowrap;
  }
}
